.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: #f2f2f2; /* Greyish background */
  }
  
  .card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-align {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
  }

  
  h2 {
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .register-link {
    text-align: center;
  }
  
  .register-button {
    color: #007bff;
    cursor: pointer;
  }
  